@import "../../styles/mixins";

.header{
  border-bottom: 1px solid $c-light-grey;

  &__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

nav{
  display: flex;
  img {
    padding-top: 27px;
  }
  .link{
    @include regular-text;
    text-decoration: none;
    margin-left: 26px;
  }
  .logo{
    width: 94px;
    height: 18px;
    padding-right: 50px;
  }
}

.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  &__link{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__link:last-child{
    padding-left: 51px;
  }
  img{
    padding-right: 8px;
  }
}

.main{
  margin-top: 40px;
  &__container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.footer{
  border-top: 1px solid $c-light-grey;
  padding: 30px;

  &__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }

  &__contact{
    display: flex;
    align-items: center;
    a{
      text-decoration: none;
      @include primary-text
    }
  }
  &__contact:last-child{
    margin-left: 31px;
  }
}


